<div
  class="hero min-h-screen"
  style="background-image: url(assets/james-harrison-vpOeXr5wmR4-unsplash.jpg);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center flex flex-col gap-1">
    <h1 class="text-5xl text-shadow-lg font-bold">Olena Savelieva</h1>
    <h2 class="text-2xl text-shadow-lg font-medium">Senior Frontend Developer, Tech Lead</h2>
    <p class="text-2xl text-shadow-lg font-medium text-secondary">Lviv, Ukraine</p>
    <div class="max-w-2xl mt-10 flex flex-wrap gap-1 justify-center">
      @for (skill of skills; track skill) {
        <span class="badge badge-outline">{{skill}}</span>
      }
    </div>
  </div>
</div>

<ul class="p-8 mb-8 timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
  @for (workItem of workItems; track workItem.name; let idx = $index, even = $even) {
    <li>
      <div class="timeline-middle">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z"/></svg>
      </div>
      <div class="my-3 md:text-start" [ngClass]="even ? 'timeline-start' : 'timeline-end'">
        <div class="card bg-base-100 w-160 shadow shadow-secondary/33">
          <div class="card-body">
            <h3 class="card-title">{{workItem.position}}</h3>
            <div class="flex flex-col gap-0">
              <a class="link" target="_blank" [href]="workItem.url">{{workItem.name}}</a>
              <div class="flex gap-1">
                <span>{{workItem.startDate | date}} - </span>
                <span>{{(workItem.endDate | date) ?? 'Present'}}</span>
              </div>
              <p>{{workItem.location}}</p>
            </div>
            <ul class="list-disc list-inside">
              @for (summaryItem of workItem.summaryItems; track summaryItem) {
                <li class="mb-1">{{summaryItem}}</li>
              }
            </ul>
          </div>
        </div>
      </div>
      <hr class="bg-secondary" />
    </li>
  }
</ul>

<footer class="footer sm:footer-horizontal bg-secondary/33 text-neutral-content items-center p-4">
  <aside class="grid-flow-col items-center">
    <img width="64" height="64" src="https://img.icons8.com/dusk/64/unicorn--v1.png" alt="unicorn--v1"/>
    <p>Copyright © {{currentYear}} - All rights reserved</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a target="_blank" href="mailto:olena@savelieva.page">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1.5" class="size-12" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" d="M16.5 12a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0Zm0 0c0 1.657 1.007 3 2.25 3S21 13.657 21 12a9 9 0 1 0-2.636 6.364M16.5 12V8.25"/></svg>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/osavelieva/">
      <svg xmlns="http://www.w3.org/2000/svg" class="size-12" fill="currentColor"><path d="M41 4H9C6.24 4 4 6.24 4 9v32c0 2.76 2.24 5 5 5h32c2.76 0 5-2.24 5-5V9c0-2.76-2.24-5-5-5zM17 20v19h-6V20h6zm-6-5.53c0-1.4 1.2-2.47 3-2.47s2.93 1.07 3 2.47c0 1.4-1.12 2.53-3 2.53-1.8 0-3-1.13-3-2.53zM39 39h-6V29c0-2-1-4-3.5-4.04h-.08C27 24.96 26 27.02 26 29v10h-6V20h6v2.56S27.93 20 31.81 20c3.97 0 7.19 2.73 7.19 8.26V39z"/></svg>
    </a>
  </nav>
</footer>
